.selectedPage{
    color: gold;
    font-weight: bold;
    
  }
  .page{
    color: white;
    text-align: center;
    overflow: hidden;
  }
  .page span{
    padding: 0 15px;
    cursor: pointer;
  
  }