.header{
  grid-area: h;
  background: green;
}
.header img{
  width: 40px;
}
.loginBlock{
  float: right;
  padding: 10px;
  font-size: 20px;
  color: white;

}
.loginBlock a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}