.nav{
  grid-area: n;
  background: #EDEEF0;
  padding: 20px;
}
.item{
  padding: 10px 0;
}
.item a{
  color: #656565;
  text-decoration: none;
  font-family: Oxygen;
  font-size: 18px;
}
.item a:hover{
  text-decoration: underline;
}
.item a.activeLink{
  text-decoration: underline;
  outline: none;
}