.descriptionBlock{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    color: white;
   
}
.userPhoto{
    flex: 0 0 15%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}
.userPhoto img{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 20px;
    object-fit: cover;
}
.userDescrContainer{
    flex: 0 0 85%; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.userSocials img{
    width: 30px;
    height: 30px;
    padding: 10px;
}
.userName{
    font-size: 24px;
    color: gold;
    font-weight: bold;
    margin-bottom: 20px;
}
.userAbout{
    font-style: italic;
    margin-bottom: 15px;
}
.userWeb a,
.userLink a{
    text-decoration: none;
    color: gold;
}
.userWeb:active a,
.userWeb:hover a,
.userWeb:focus a,
.userLink:hover a,
.userLink:active a,
.userLink:focus a{
    opacity: .6;
}
hr{
    height: 2px;
    margin: 20px;
    background: white;
}
.editProfile button{
    margin-top: 80px;
}